@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

/*
  font-family: "Inknut Antiqua", serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
/*
 font: 20px/1.5 "Exo 2", sans-serif;
*/



#hrFooter{
  color: rgb(0, 0, 0);
}

.sm-icon{
  color: rgb(255, 255, 255);
}

#footer-p{
  color: rgb(255, 255, 255);
  font: 20px/1.3 "Exo 2", sans-serif;
  font-weight: 550;
}

.logoText{
  font-family: "Inknut Antiqua", serif;
  color: black;
  font-weight: 900;
  font-size: 28px;
}


#footer-Div{
  color: white;
    margin: 5px;
    border-radius: 15px;
}

.footerlogo{
  height: 80px;
  border-radius: 50%;
}

#copyright-text{
  color: black;
  font-weight: 710;
  font-size: 16px;
  font-family: "Exo 2", sans-serif;
}

#text{
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 16px;
  font-family: "Exo 2", sans-serif;
}






